<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- dao bean -->
	<bean id="operatorsDAO" class="com.hibernate.dao.OperatorsDAO"
		abstract="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- bo bean  -->
	<bean id="operatorsBo"
		class="com.hibernate.bo.OperatorsBo"
		abstract="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="operatorsDAO">
			<ref bean="operatorsDAO" />
		</property>
	</bean>
	
	<!-- 定义DAO 
	<bean id="operatorsDAO" class="com.hibernate.dao.OperatorsDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean> -->

	<!-- 定义DAO代理 -->
	<bean id="OperatorsDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="operatorsDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<!-- 控制层 bean -->
	<bean id="login" class="com.struts.actions.LoginAction" scope="prototype">
	<property name="operatorsBo">
	<ref local="operatorsBo"/>
	</property>
	</bean>
	
	<!-- 控制层 bean -->
	<bean id="loginout" class="com.struts.actions.LogoutAction" scope="prototype">
	<property name="operatorsBo">
	<ref local="operatorsBo"/>
	</property>
	</bean>
	
	<!-- 控制层 bean -->
	<bean id="register" class="com.struts.actions.RegisterAction" scope="prototype">
	<property name="operatorsBo">
	<ref local="operatorsBo"/>
	</property>
	</bean>
	<!-- 定义Struts配置 
	<bean name="/login" class="com.struts.actions.LoginAction">
		<property name="operatorsDAO">
			<ref local="operatorsDAO" />
		</property>
	</bean>-->
</beans>
